<footer class="container-fluid site-footer">

  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <header class="footer-heading">
          <img class="footer-brand" src="/images/logo/logo_v1.png" alt="{{ site.title }}">
          <ul class="contact-list">
            <li>{{ site.title }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
        </header>
      </div>
      <div class="col-md-6">
        <p class="footer-sub">{{ site.description }}</p>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

    </div>
  </div>

</footer>
