<header class="container-fluid site-header">
  <nav class="navbar navbar-full navbar-light site-nav">
    <div class="container">
      <a class="navbar-brand site-nav-brand" href="{{ site.baseurl }}/">
        <img src="/images/logo/logo_v1.png" alt="{{ site.title }}">
      </a>
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#links">&#9776</button>
      <div class="collapse navbar-toggleable-xs" id="links">
        <ul class="nav navbar-nav pull-md-right site-nav-links">
          <!--  Page Links -->
          <!-- {% assign page_lists = site.pages | group_by:"page_category"%}
          {% for my_page_list in page_lists %}
          {% if my_page_list.name != '' %}
          <li class="nav-item dropdown site-nav-dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ my_page_list.name | capitalize }}
            </button>
            <div class="dropdown-menu site-nav-dropdown-menu" aria-labelledby="dropdownMenu1">
              {% for my_page in my_page_list.items %}
              <a class="dropdown-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title | capitalize }}</a>
              {% endfor %}
            </div>
          </li>
          {% endif %}
          {% endfor %} -->

          <!--  Blog Link -->
          <!-- <li class="nav-item pull">
            <a href="/blog" class="nav-link">Blog</a>
          </li> -->

          <li class="nav-item pull">
            <a href="mailto:info@humandatacommons.org" class="nav-link">info@humandatacommons.org</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
