<header class="container site-header">
  <nav class="navbar">
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <ul class="nav navbar-nav pull-right">
      {% assign page_lists = site.pages | group_by:"page_category"%}
      {% for my_page_list in page_lists %}
      {% if my_page_list.name != '' %}
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ my_page_list.name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {% for my_page in my_page_list.items %}
            <a class="dropdown-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endfor %}
          </div>
        </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
