<header class="container-fluid site-header">
  <nav class="navbar navbar-full navbar-light site-nav">
    <div class="container">
      <a class="navbar-brand site-nav-brand" href="{{ site.baseurl }}/">
        <img src="/images/logo/logo_v1.png" alt="{{ site.title }}">
      </a>
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#links">&#9776</button>
      <div class="collapse navbar-toggleable-xs" id="links">
        <ul class="nav navbar-nav pull-md-right site-nav-links">
          <!--  Page Links -->
          {% assign sections = site.frontpage_sections | sort: 'order' %}
          {% for section in sections %}
          {% if section.link %}
          <li class="nav-item">
            <a href="{{ section.title | slugify | prepend: '#' }}" class="nav-link">{{ section.title | capitalize }}</a>
          </li>
          {% endif %}
          {% endfor %}

          <!--  Blog Link -->
          <li class="nav-item">
            <a href="/blog" class="nav-link">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
