/*
* Html Layout
*/
html, body {
  height: 100%;
  width: 100%;
}

// body::before {
//   content: "";
//   background: url("/images/backgrounds/bkg1.jpg");
//   opacity: 0.5;
//   position: absolute;
//   top: 0;
//   z-index: 0;
//   width: 100%;
//   height: 100%;
//   background-size: cover;
// }

.full-height {
  height: 100%;
}

/**
 * Site header
 */
.site-header {
    height: 6rem;
    background-color: #fff;
    border-bottom: 1px solid transparentize($hdc-second, 0.9);
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

svg {
  height: inherit;
  width: 100%;
  position:absolute;
  bottom: 0;
  left:0;
  z-index: 0;
  #lines {
    fill: transparent;
    path {
      stroke: transparentize($hdc-second, 0.9);
      stroke-linejoin: "round";
      stroke-width: 0.1;
    }
  }
}

@media screen and (min-width:$on-palm)  {

  .site-nav {
    padding: 2rem 0;
    .site-nav-brand {
      padding: 0;
      img {
        height: 35px;
      }
    }

    .site-nav-links {
      height: 4rem;
      color: $text-color;
      line-height: $base-line-height;

      .nav-item button,
      .nav-item > a {
        border: none;
        border-radius:0;
        padding: 0.5rem 0 2px;
        margin: 0 0.3rem;
        color: #555;

        &, &:active, &:hover, &:focus {
          background-color: transparent;
        }

        &:hover, &:focus {
          border-bottom: 3px solid #333;
          color: #555;
        }
      }

      .site-nav-dropdown-menu {
        border-radius: 0;
        a, a:hover {
          color: #333;
          padding: 0.5rem 1rem;
        }
      }

      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.site-big-jumbo {
  height: calc(100% - 6rem);
  padding:5% 0;
  margin-bottom:0;
  background-color: #fff;
  h1, h4 {
    background-color: #575757;
    padding: 1rem;
    border-radius: 1rem;
    /* border-bottom-left-radius: 0; */
  }
  h1.display-4 {
    font-size: 3rem;
    font-weight: 100;
    color: $hdc-third;
    margin-bottom: 0.5rem;
    padding-right: 0.4rem;
    width: 90%;
  }
  h4 {
    width: 80%;
    color: #fff;
    color: rgba(84, 83, 83, 0.7);
    background-color: #fff;
  }
}

.site-small-jumbo {
  min-height: 20%;
  padding: 5% 0 5%;
}

@media screen and (min-width:$on-laptop)  {
  .site-big-jumbo {
    height: calc(100% - 6rem);
    padding:10% 0;
    margin-bottom:0;
    background-color: #fff;
    h1 {
      font-weight: 400;
      color: $hdc-first;
    }
    h4 {
      width: 80%;
    }
  }
}

/**
 * Frontpage Sections
 */

 .frontpage-section {
   color: $hdc-first;
  .frontpage-section-title {
    margin: 3rem 0 2rem;
    font-size: 2em;
  }
  .frontpage-section-content {
    margin-bottom: 8ex;
  }
 }


 .section-values {
   .section-values-text {
     padding-bottom: 5rem;
   }
   .card-group {
     width: 100%;
     display: flex;

     .card {
       background-color: transparent;
       border: none;
       display: flex;
       p {
         font-size: 0.9rem;
       }
       img {
         max-height: 8rem;
         margin: 0;
         filter: hue-rotate(30);
       }
     }
   }
 }

 .section-mission {
   .mission-block {
     h3 {
       em {
         font-size: 1.2rem;
         display: block;
         padding: 1rem 0;
         &::after {
            height: 0.5rem;
            background: linear-gradient(45deg,rgba(0, 210, 255, 0.22), #01AADA);
            content: "";
            display: block;
            margin: 10px 0 -0.5rem;
            border-radius: 5px;
          }
       }
     }
     @for $i from 1 through 3 {
       &:nth-child(#{$i}) h3 em::after {
         width: (33%*$i);
         background: linear-gradient(45deg,rgba(0, 210, 255, 0.22), $hdc-second);
       }
     }
   }
 }

 .section-problems {
   .card-problem {
     background-color: transparent;
     border: 1px solid $hdc-third;
     border-radius: 1rem;
     .card-block {
       padding-top: 2rem;
       height: 12rem;
     }
     .card-block-solution {
       background-color: $hdc-third;
       color: #fff;
       border-bottom-left-radius: 1rem;
       border-bottom-right-radius: 1rem;
     }
   }
 }

 .section-help {
   .card-help {
     display: flex;
     flex-direction: row;
     width:100%;
     align-items:center;
     border:none;
     background-color: transparent;
     .card-img {
       height:5rem;
       max-width:5rem;
     }
     .card-block {
       display: flex;
       padding: 0.5rem 1rem;
       .card-title {
         font-size: 1rem;
       }
     }
   }
 }



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    margin-bottom: $spacing-unit / 2;
    .footer-brand {
      width: 5rem;
    }
    .contact-list {
      padding: 1rem 0;
    }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
    margin-top:1rem;
}


/**
 * Post Links
 */

section.blogpage-section {
  background-color: #fff;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-link {
  .post-link-title, p {
    color: $text-color;
  }

  &:hover {
    text-decoration: none;
  }
}


/**
 * Post
 */

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
