---
layout: default
---

<section class="container-fluid">
  <div class="row">
    {% if page.top_pic %}
    <div class="post-top" style="background-image:url('{{page.top_pic}}')" alt="{{ page.top_pic_alt}}"></div>
    {% endif %}
    <div class="col-md-8 col-md-offset-2">
      <article class="post">
        <header class="post-header">
          <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
          {% if page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            by <span itemprop="name">{{ page.author }}</span>
          </span>
          {% endif %}
          <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
        </header>

        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>
        <footer>
          <span class="post-disclaimer">{{site.blog.disclaimer}}</span>
        </footer>
      </article>
    </div>
  </div>
</section>
